#!/usr/bin/env bash
set -euo pipefail

HOME={{ ansible_facts.env.HOME | quote }}
PATH={{ colima_k3s_wrapper_path | quote }}
export HOME PATH

exec {{ colima_k3s_colima_binary.stdout | quote }} start {{ colima_k3s_profile | quote }} --foreground
